<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>BrainCare</title>


    <style>
        .container {
        position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 140px;
  right: 140px;
  
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
      background-color: rgb(130, 171, 189); /* Background color */
      color: black; /* Text color */
      padding: 20px; /* Padding to create space inside the footer */
      text-align: center; /* Center align text */
    }
    
    /* Style for the links within the footer */
    footer a {
      color: black; /* Link text color */
      text-decoration: none; /* Remove underlines from links */
      margin: 0 10px; /* Add some spacing between links */
    }

    </style>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">BrainCare</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                   

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/braintumor">Brain Tumor</a>
                    </li>

                    

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/alzheimer">Alzheimer</a>
                    </li>

                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="containerfluid mt-2">
        <h1 class='text-center py-3' style="color: rgb(255, 255, 255);font-size: 40px;font-variant: petite-caps;background-color: rgb(130, 171, 189);margin-bottom:0px"><b><i style="color: #003a70;"> BrainCare</i></b></h1>
        <div class="row py-3" style='background-color: rgb(0 154 163);margin-left:1px;margin-right:1px'>
          
            <div class="container">
                <img src="../static/brainpic.jpg" alt="Norway" style="width:100%;">
                <div class="text-block">
                  
                   <div class="row">
                    <div class="col-lg-4">
    
                    </div>
                    <div class="col-lg-4">
    
                    </div>
                    <div class="col-lg-4">
                        <h1>Diagnose complex conditions Of Brain tumor and Alzheimer’s disease.</h1>
                            <!--<p><i>All doctors treat, but a good doctor lets nature heal.</i></p>-->
                        <p>convenient at-home use, ensuring swift treatment without prolonged report waits</p>
                    </div>
                   </div>
                </div>
              </div>
             
    
            
        </div>
    </div>


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

           

        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div style='margin:20px 20px 60px 20px'>
        <h1 class='text-center py-3' style="color: rgb(255, 255, 255);font-size: 40px;font-variant: petite-caps;background-color: rgb(130, 171, 189);border-radius: 20px 20px 0px 0px;margin-bottom:0px"><b><i style="color: #003a70;">Machine Learning</i></b></h1>
        <div class="row py-3" style='background-color: rgb(5, 15, 16);border-radius: 0px 0px 10px 10px;margin-left:1px;margin-right:1px'>
            <div class="col">
                <img src="../static/aiinhealth.png" class="img-fluid rounded mx-auto d-block" alt="..." style="width:110%;">
            </div>
            <div class="col">
                <p class="text-left" style='font-size:17px;color:white'>
                    Machine learning is one of the most common forms of artificial intelligence in healthcare. It is a
                    broad technique at the core of many approaches to AI and healthcare technology and there are many
                    versions of it.

                    Using artificial intelligence in healthcare, the most widespread utilization of traditional machine
                    learning is precision medicine. Being able to predict what treatment procedures are likely to be
                    successful
                    with patients based on their make-up and the treatment framework is a huge leap forward for many
                    healthcare organizations. The majority of AI in healthcare that uses machine learning and precision
                    medicine applications require data for training, for which the end result is known. This is known as
                    supervised learning.

                    Artificial intelligence in healthcare that uses deep learning is also used for speech recognition in
                    theform of natural language processing (NLP). Features in deep learning models typically have little
                    meaning to human observers and therefore the model's results may be challenging to delineate without
                    proper interpretation.
                </p>
            </div>


        </div>
    </div>

    <div style='margin:20px 20px 60px 20px'>
        <h1 class='text-center py-3' style="color:#003a70;font-size: 40px;font-variant: petite-caps;background-color: rgb(130, 171, 189);border-radius: 20px 20px 0px 0px;margin-bottom:0px"><b><i>Grad-CAM</i></b></h1>
        <div class="row py-3" style='background-color: black;border-radius: 0px 0px 10px 10px;margin-left:1px;margin-right:1px'>
            <div class="col">
                <img src="../static/ml.png" class="img-fluid rounded mx-auto d-block" alt="...">
            </div>
            <div class="col">
                <p class="text-left" style='font-size:17px;color:white'>
                    Grad-CAM extracts gradients from model convolutional layers to convey graphical information during inference. These gradients capture high-level visual patterns, indicating influential regions in input images. As convolutional layers retain spatial data, Grad-CAM employs this to create heatmaps highlighting image regions driving model decisions. This provides a visual rationale for decisions made by the deep learning model.
                    Grad-CAM is a powerful tool that enhances our understanding of CNNs and helps bridge the gap between the “black-box” nature of deep learning models and the need for interpretability and transparency in AI systems.
                    The Grad-CAM (Gradient-weighted Class Activation Mapping) algorithm is a technique used in computer vision to visualize which regions of an image are important for a neural network's prediction. While Grad-CAM is primarily applied in the context of image classification, it can potentially be used in medical imaging tasks like brain tumor and Alzheimer's disease detection.
                </p>
            </div>


        </div>
    </div>



   

    <div class="container-fluid mt-3" >
        <div class="row" >
            <h2 style="text-align: center; background-color: rgb(130, 171, 189);border-radius:12px;">About Disease</h2>
            <div class="col-lg-1">

            </div>
            <div class="col-lg-4" style="background-color: rgb(125, 171, 189);border-radius: 15px;">
               <h4 style="text-align: center;">About Brain Tumor</h4>
               A brain tumor is a growth of cells in the brain or near it. Brain tumors can happen in the brain tissue. Brain tumors also can happen near the brain tissue. Nearby locations include nerves, the pituitary gland, the pineal gland, and the membranes that cover the surface of the brain.

                Brain tumors can begin in the brain. These are called primary brain tumors. Sometimes, cancer spreads to the brain from other parts of the body. These tumors are secondary brain tumors, also called metastatic brain tumors
            </div>
            <div class="col-lg-2">

            </div>

            <div class="col-lg-4" style="background-color: rgb(125, 171, 189);border-radius: 15px;">
                <h4 style="text-align: center;">About Alzheimer </h4>
               Alzheimer's disease is a brain disorder that gets worse over time. It's characterized by changes in the brain that lead to deposits of certain proteins. Alzheimer's disease causes the brain to shrink and brain cells to eventually die. Alzheimer's disease is the most common cause of dementia — a gradual decline in memory, thinking, behavior and social skills. These changes affect a person's ability to function.

                About 6.5 million people in the United States age 65 and older live with Alzheimer's disease. Among them, more than 70% are 75 years old and older. Of the about 55 million people worldwide with dementia, 60% to 70% are estimated to have Alzheimer's disease.
            </div>

            <div class="col-lg-1">
                
            </div>

        </div>
    </div>


   


    <div style='margin:40px 20px 60px 20px'>
        <h1 class='text-center py-3' style="color: #003a70;font-size: 40px;font-variant: petite-caps;background-color: rgb(130, 171, 189);border-radius: 20px 20px 0px 0px;margin-bottom:0px"><b><i>AI in HealthCare</i></b></h1>
        <div class="row py-3" style='background-color: rgb(5, 14, 14);border-radius: 0px 0px 10px 10px;margin-left:1px;margin-right:1px'>
            <div class="col" >
                <p class="text-left" style='font-size:18px;color:white'>
                    The artificial intelligence (AI) technologies becoming ever present in modern business and everyday
                    life is
                    also steadily being applied to healthcare. The use of artificial intelligence in healthcare has the
                    potential to assist healthcare providers in many aspects of patient care and administrative
                    processes. Most
                    AI and healthcare technologies have strong relevance to the healthcare field, but the tactics they
                    support
                    can vary significantly. And while some articles on artificial intelligence in healthcare suggest
                    that the
                    use of artificial intelligence in healthcare can perform just as well or better than humans at
                    certain
                    procedures, such as diagnosing disease, it will be a significant number of years before AI in
                    healthcare
                    replaces humans for a broad range of medical tasks.
                </p>
            </div>
            <div class="col">
                <img src="../static/doctor1.jpg" class="img-fluid rounded mx-auto d-block" alt="...">
            </div>

        </div>
    </div>


    <footer class='text-light bg-dark position-relative '>
        <p class='text-center py-1 my-0'>
            Handcrafted with ❤ by Gagan and Kanchan.
        </p>
    </footer>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>



</body>

</html>